body{
   height: 2000px;
   width: 100%;
   position: relative;
   background-color: #faf9f9;
   
   
}
.not-user{
   text-decoration: none;
   font: 15px "open Sans", sans-serif;
   font-weight: 550;
   color: #4A4A4A;
}
.harvestbtc-header{
   height: 70px;
   align-items: center;
   
      position: fixed;
      display: flex;
      flex-direction: row;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      width: 100%;
      top: 0px;
      right: 0px;
      left: 0px;
      height: 4.5rem;
      padding: 0px 2rem;
      box-sizing: border-box;
      background-color: white;

}

.home-logo{
   display: table-cell;
   vertical-align: middle;
   height: 60px;
   width: 7.5cm; 
}
/*.fa, .fab, .fad, .fal, .far, .fas {
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   display: inline-block;
   font-style: normal;
   font-variant: normal;
   text-rendering: auto;
   line-height: 1;*/


.coins-container{
   background-color: #230223;
  
   margin-top:70px;
   width: 100%;
   justify-content: space-between;
}
.coins-container marquee{
font: 12px "Open Sans", sans-serif;
color: #FFFFFF;
font-weight: 700;
width: 10%;

}


.my-acc{
   color: #001577;
   font: 21px Roboto, sans-serif;
   margin-top: 5px;
   font-weight: 700;
}
.arrow{
   margin-top: 20px;
}
.deposit{
   margin-top: 20px;
}
.balance{
   margin-top: 30px;
   margin-left: 4px;
}
.amount{
   margin-left: 13rem;
  margin-top: -5rem;
  font: 15px sans-serif;
  font-weight: 400;
  margin-left: 35%;

}
.table{
   width: 15cm;
   height: 12cm;
   background-color: #f9f7f7;
   margin-left: 20%;
}
.dash{
   
      display: flex;
      flex-direction: row;
      -webkit-box-pack: justify;
      justify-content: space-between;
      
     
}
.dash button{
   width: 300px;
   height: 34px;
   font: 20px sans-serif;
   border: none;
   transition: 1s;


}
.dash button:hover{
   background-color: #c5c3c3;
   color
}
.tab-user{
   margin-top: 30px;
   margin-left: 20%;
}

.user-name{
  font: 28px sans-serif;
  color: #333333;
  margin: 0px 0px 30px;
   
}
.user-img{
   border-radius: 75px;
}
h3{
   color: #333333;
   font: 22px  sans-serif;
}
.user-log{
   border-radius: 70px;
}

.right-tab{
   margin-top: 13px;
}

.dan-log{
   margin-left: 6.7rem;
  margin-bottom: 31rem;
   
}
.tab-user img{
   margin-top: -8px;
}
.crypto-tab{
   
      width: 100%;
      height: 20.9cm;
      background-color: #faf9f9;
      margin-left: 5px;
}

.crypto-tab button{
   width: 110px;
   height: 35px;
   font: 20px sans-serif;
   border: none;
   transition: 0.2s;
}
.binance{
   width: 35px;
   border-radius: 17.5px;
}
.coins-container img,
.crypto-tab img{
  
   width: 22px;  
   height: 22px;
}
.crypto-tab div{
   padding: 10px;
   margin: 0;
   width: 100%;
   border-bottom: 1px solid rgba(34, 34, 34,0.3);
   position: relative;
   clear: none;
} 

.crypto-tab span{
  margin-top: 20px;
  font: 17px "Open Sans", sans-serif;

}
.crypto-tab p{
   display: inline-block;
    margin: 5px;
    font-weight: bold;
    font-size: ;
    margin-left: 84%;
}
a{
   text-decoration: none;
}
.dip{
   width: 6;
   border-radius: 18px;
}
.chat{
   position: relative;
   margin-left: 20rem;
   border-radius: 35rem;
}

